@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'NEXON Lv2 Gothic';}

.dark body,
.dark .nav
{
    animation: infinite 9s background alternate-reverse; 
    color: #f6faf9;}


@keyframes background {
    0%{background-color: #091a28;}
    50%{background-color: #08131b;}
    100%{background-color: #030507;}
}

.list li::after{
    content: "";
    position: absolute; 
    width: 100%;
    height: 1px; 
    background-color: #000; 
    bottom: 0;left: 0; transition: 1s;
    transform: scaleX(0);
    
}

.dark .list li::after{
    background-color: #ebf4f1;
}

.list li.on::after,
.list li:hover::after{transform: scaleX(1);}
.list li.on, .list li:hover
{font-weight: bold;}

.m-btn.on >div:nth-child(1)
{width: 18px;transform: rotate(45deg) translateY(3px)}
.m-btn.on >div:nth-child(2){width: 25px; transform: translateX(-12px); }
.m-btn.on >div:nth-child(3){width: 18px; transform: rotate(-45deg) translateY(-3px)}

.m-btn.on +div{right: 0}


